@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
  background-color: #fff;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

.margin-fix {
  margin: 0 2.4rem;
}

@media screen and (min-width:768px){
  .margin-fix {
    margin: 0 6rem;
  }
}

@media screen and (min-width:1100px) {
  .wrapper {
    max-width: 144rem;
    padding: 0 16.5rem;
    margin: auto;
  }
}